body {
  background-color: #f7f7e8;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-top: 50px;
}

.title {
  font-size: 24px;
}

.scores {
  display: flex;
  align-items: center;
}

.score {
  text-align: center;
  margin: 0px 20px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.53);
}

.new-game {
  padding: 0px 5px;
  height: 30px;
  cursor: pointer;
}

/* board */

.board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 600px;
  height: 600px;
  margin-top: 20px;
  border-radius: 5px;
  border: 10px solid #bbada0;
  background-color: #bbada0;
}

.row {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  background-color: #cdc1b5;
}

/* tile colors */

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}
